*{
    box-sizing: border-box;
}
body{
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #e8edf0;
}
.todoList{
    height: 620px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#addBtn{
    /* box-sizing: border-box; */
    user-select: none;
    padding: 8px;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 35px;
    background-color: #fdfdfd;
}


#addBtn:hover{
    background-color: #eeeded;
}

#addBtn::placeholder{
    color: black;
    opacity: 1;
    font-family: 16px;
}

p{
    /* cursor: pointer; */
    background: #f5f5f5;

}

.withContextMenu{
    /* background-color: #bbb; */
    padding: 10px;
    /* position: relative; */
}

.withContextMenu p{
    /* transition: opacity .1s; */
    padding: 8px;
    border-radius: 5px;
    margin: 3px;
}

.withContextMenu p:hover {
    background: #e6e6e6;
}
.contextMenu{
    opacity: 0;
    display: none;

    position: absolute;
    flex-direction: column;
    width: fit-content;
    transition: opacity .1s linear;
}
.contextMenu.open {
    display: flex;
    opacity: 1;
}

.title{
    display: inline-block;
    /* display: inline; */
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    /* margin: 5px; */
}

.title:hover{
    background: #e6e6e6;
}








.oneone {
	/* overflow: hidden;
	width: 265px;
	margin: 0 auto; */
}
.oneone:not(:checked) > input {
	display: none;
}
.oneone:not(:checked) > label {
	float: right;
	/* width: 42px; */
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.oneone:not(:checked) > label:before {
	content: '★';
}
.oneone > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.oneone:not(:checked) > label:hover,
.oneone:not(:checked) > label:hover ~ label {
	color: gold;
}
